<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Manager</title>
    <link rel="stylesheet" ="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Product Manager</h1>
        <nav>
            <a ="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('add_product') }}">Add Product</a>
        </nav>
    </header>

    <p>
    <div></div>
    </p>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>